.header {
  position: relative;
  background-color: rgba(0, 0, 0, .8);
}

.header-area {
  display: flex;
  justify-content: space-between;
  height: 84px;
}

.header-area .header-left {
  display: flex;
}

.header-area .header-left .header-logo a {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 200px;
  height: 54px;
  text-indent: -9999px;
  background: url(../img/logo.png) no-repeat center center;
}

.header-area .header-left .header-list {
  display: flex;
  margin-left: 30px;
}

.header-area .header-left .header-list .item {
  width: 110px;
  padding-right: 5px;
}

.header-area .header-left .header-list .item:hover {
  background: url(../img/main_sprite.png) no-repeat 0 0;
}

.header-area .header-left .header-list .item a {
  display: block;
  height: 100%;
  box-sizing: border-box;
  padding-top: 20px;
  font-size: 18px;
  text-align: center;
  color: #c9c9dd;
}

.header-area .header-left .header-list .item:hover a {
  color: #ecb653;
}

.header-area .header-left .header-list .item a .desc {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #858792;
}

.header-area .header-left .header-list .item:hover .desc {
  color: #91763f;
}

.header-area .header-left .search {
  margin-left: 5px;
}

.header-area .header-left .search a {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 27px;
  height: 26px;
  background: url(../img/nav_search.png);
}

.header-area .header-right {
  display: flex;
  align-items: center;
}

.header-area .header-right .header-image img {
  border: 1px solid #d9ad50;
  border-radius: 50%;
}

.header-area .header-right .header-info {
  margin-left: 10px;
}

.header-area .header-right .header-info a {
  color: #fff;
}

.header-area .header-right .header-info p {
  margin-top: 5px;
  font-size: 14px;
  color: #858792;
}

.header .dropmenu {
  position: absolute;
  top: 84px;
  left: 0;
  right: 0;
  height: 0;
  background-color: rgba(0, 0, 0, .7);
  overflow: hidden;
  transition: height .3s;
}

.header:hover .dropmenu {
  height: 285px;
}

.header .dropmenu .inner {
  display: flex;
  width: 940px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 15px 0 30px 50px;
}

.header .dropmenu .inner .list {
  width: 115px;
}

.header .dropmenu .inner .list .item {
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.header .dropmenu .inner .list .item a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #c9c9dd;
}

.header .dropmenu .inner .list .item a:hover {
  color: #e4b653;
  text-decoration: underline;
}