/* 顶部内容宽度 */
.top_wrapper {
  width: 980px;
  margin: 0 auto;
}

/* 头部内容宽度 */
.header_wrapper {
  width: 1300px;
  margin: 0 auto;
}

/* 主题内容宽度 */
.main_wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* 内容不换行省略 */
.nowrap_ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 新闻类型的图标 */
/* 第一种抽取思路，给i元素添加类 */
/* .news_type {
  display: inline-block;
  width: 32px;
  height: 16px;
  margin-right: 2px;
  line-height: 16px;
  text-align: center;
  font-size: 12px;
  border: 1px solid;
  border-radius: 2px;
}

.news_type_hot {
  content: '热门';
  color: #ff3636;
}

.news_type_announcement {
  color: #f4be19;
}

.news_type_news {
  color: #1e96ab;
}

.news_type_activity {
  color: #ff3636;
}

.news_type_event {
  color: #4d9cff;
} */

/* 新闻类型的图标 */
/* 第二种思路，伪元素 */
.news_type::before {
  display: inline-block;
  width: 32px;
  height: 16px;
  margin-right: 2px;
  line-height: 16px;
  text-align: center;
  font-size: 12px;
  border: 1px solid;
  border-radius: 2px;
}

/* 热门 */
.news_type_hot::before {
  content: '热门';
  color: #ff3636;
}

/* 公告 */
.news_type_announcement::before {
  content: '公告';
  color: #f4be19;
}

/* 新闻 */
.news_type_news::before {
  content: '新闻';
  color: #1e96ab;
}

/* 活动 */
.news_type_activity::before {
  content: '活动';
  color: #ff3636;
}

/* 赛事 */
.news_type_event::before {
  content: '赛事';
  color: #4d9cff;
}

/* 模块头部 */
.section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.section_header .header_left .header_title {
  padding-left: 30px;
  font-size: 22px;
  letter-spacing: 1px;
  color: #323235;
  background: url(../img/main_sprite.png) no-repeat;
}

.section_header .header_left .content_center {
  background-position: 0 -103px;
}

.section_header .header_left .hero_skin {
  background-position: 0 -141px;
}

.section_header .header_left .match_center {
  background-position: 0 -180px;
}

.section_header .header_left .kpl_schedule {
  background-position: -156px -104px;
}

.section_header .header_right .header_more {
  display: block;
  padding-left: 22px;
  color: #999;
  background: url(../img/main_sprite.png) no-repeat -252px 4px;
}

.section_header .header_right .header_more:hover {
  color: #f3c258;
}
