body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: top;
}

i {
  font-style: normal;
}
